<template name="User_Footer">
  <footer>
   <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <h3 class="ui inverted header">GroupsUp</h3>
        <p>UH Manoa Copyright 2017</p>
      <div class="ui inverted section divider"></div>
      <img src="assets/images/logo.png" class="ui centered mini image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
  </footer>
</template>