<template name="Club_Card">
  <div class="ui card">
    <div class="ui image">
      <img class="ui image" src="https://semantic-ui.com/images/wireframe/image.png">
    </div>
    <div class="ui content">
      <div class="header">Club Name</div>
      Your club's description goes here.
    </div>
    <div class="extra content">
      <i class="users icon"></i>22
      <span class="right floated">
        <a><i class="facebook icon"></i></a>
        <a><i class="mail icon"></i></a>
      </span>
    </div>
  </div>
</template>