.landing-section-1 {
  padding: 10px 10px 30px 10px;
  background-color: #00B5AD;
  color: #E5F9E7;
}

.landing-section-2 {
  padding: 20px 10px 20px 10px;
  background-color: #1b1c1d;
  color: rgba(255, 255, 255, 0.9);
}

.landing-section-3 {
  padding: 20px 10px 30px 30px;
  background-color: #045232;
  color: #E5F9E7;
}

.landing-section-5 {
  padding: 20px 10px 20px 10px;
  background-color: #00B5AD;
  color: rgba(255, 255, 255, 0.9);
}


.landing-section-1-welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-weight: 700;
  font-size: 36px;
}

.eight.wide.column p {
  font-size: 18px;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead h1.ui.header {
  font-size: 2em;
  margin-top: 1.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.get_started_button {
  padding-top: 5px;
}

.ui.inverted.segment.landing, .ui.primary.inverted.segment {
  background-color: #045232;
}

.ui.secondary.inverted.pointing.menu {
  border-width: 0px;
}