<template name="Group_Card">
  <div class="ui card">
    <div class="ui image">
      <img class="mini ui image" src="{{ group.group_image }}">
    </div>
    <div class="ui content">
      <div class="header">{{ group.name }}</div>
      Your club's description goes here.
    </div>
    <div class="extra content">
      <i class="users icon"></i>22
      <span class="right floated">
        <a><i class="facebook icon"></i></a>
        <a><i class="mail icon"></i></a>
      </span>
    </div>
  </div>
</template>